# Habilitar reescritura de URL
RewriteEngine On

# Bloquear acceso a archivos y carpetas sensibles
RewriteRule ^(.*/)?\.git/ - [F,L]
RewriteRule ^Config/ - [F,L]
RewriteRule ^App/ - [F,L]
RewriteRule ^Core/ - [F,L]

# Redirigir todo a public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]

